.venv*/
.tools/
__pycache__/
*.py[cod]

build/
dist/
docker-output/
output/
GymPulseWebUI-Windows-x64/
GymPulseWebUI-Windows-x64.zip

predictions_output.json
predictions_output.csv
*.spec

.idea/
.vscode/
Thumbs.db
.DS_Store
